* {
  box-sizing: border-box;
  transition: none 0.2s ease-in-out;
}

html {
  user-select: none;
  white-space: nowrap;
  overflow-x: hidden;
  top: 0;
  right: 0;
  left: 0;
  font-size: 16px;
  color: hsl(0 16% 24%);
  background-color: white;
}

html,
body,
#Root {
  min-height: 100%;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: available;
  height: 100%;
}

input,
button {
  line-height: 1.4;
}

html,
input,
textarea,
pre {
  font-family: "Noto Sans KR", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
ol,
ul,
li,
figure,
p,
pre {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  cursor: pointer;
  text-decoration: none;
  line-height: 0;
}

a:disabled {
  pointer-events: none;
}

input,
button {
  border: 0;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  font-size: inherit;
}

input::placeholder {
  color: hsl(0 0% 64%);
}

input,
textarea {
  resize: none;
  outline: none;
  vertical-align: middle;
  line-height: 1.4;
  border: 0;
  color: inherit;
  font-size: inherit;
}

strong {
  display: inline-block;
}

button {
  cursor: pointer;
  text-transform: inherit;
  color: inherit;
}
